<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				Menu
				<i class="fa fa-bars"></i>
			</button>
			<%= link_to admin_root_path, :class => 'navbar-brand page-scroll' do %>
				<i class="fa fa-play-circle"></i>
				<span class="light">App</span>Trello
			<% end %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<%- if controller_name != 'home' %>
					  <%= link_to 'Home', root_path, :class => 'page-scroll' %>
					<% else %>
						<%= link_to 'Sandbox', sandbox_path, :class => 'page-scroll' %>
					<% end -%>
				</li>
				<li>
					<a class="page-scroll" href="#download">Download</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contact</a>
				</li>
				<li>
					<%= link_to destroy_user_session_path, :method => :delete do %>
					  <i class="fa fa-sign-out"></i>
					<% end %>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
