<div class="container">

  <div class="row">

    <md-content layout-padding>

      <md-grid-list
        md-cols-gt-md="12" md-cols="3" md-cols-md="8"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">

        <% for icon in @icons %>
          <md-grid-tile
            md-colspan-gt-sm="1" md-rowspan-gt-sm="1"
            ng-style="{'background': 'rgba(55, 71, 79, 0.7)', 'box-shadow':'0 5px 10px -4px rgba(0,0,0,0.5)'}">

            <span>
              <small ng-style="{'display': 'block'}"><%= icon.name %></small>
              <i class="material-icons"><%= icon.name %></i>
            </span>

          </md-grid-tile>
        <% end %>

      </md-grid-list>

    </md-content>

  </div>

</div>
