<% content_for :header do %>
  <%= stylesheet_link_tag "dashboards.css" %>
<% end %>

  <section class="wrap-content home on">

    <div class="container">

      <div class="row">

        <div class="col-sm-4">
          <div class="box">
            <div class="mask"></div>
            <p class="title">Profile</p>
            <span class="material-icons">person_pin</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <div class="mask"></div>
            <p class="title">Profile</p>
            <span class="material-icons">directions_walk</span>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="box box-custom">

          </div>
        </div>

      </div>

      <div class="row raise">

        <div class="col-sm-2">
          <div class="box">
            <div class="mask"></div>
            <p class="title">Title</p>
            <span class="material-icons">airline_seat_legroom_normal</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <div class="mask"></div>
            <p class="title">Title</p>
            <span class="material-icons">airline_seat_legroom_normal</span>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="box">
            <div class="mask"></div>
            <p class="title">Title</p>
            <span class="material-icons">airline_seat_legroom_normal</span>
          </div>
        </div>

      </div>

    </div>

  </section>
