$panelBorder: #babdc5;
$skinActiveColor: #e73c3c;
$bodyColor: rgba(236, 240, 241, 0.48);
$skinBlack: rgb(55, 71, 79);
$panelHeaderBck: $skinBlack;
$skinBlackLight: rgb(69, 90, 100);
$textGray: rgb(174, 179, 181);
$skinTextColor: #1e2a33;
$skinTextActiveColor: white;
$skinTextTable: #7f8c8d;
$skinHeaderBck: #1e2a33;

@import "build/fonts";
@import "font-awesome";
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin_flat_skin";

@mixin admclearfx {
  &:before, &::before, &:after, &::after {
    display: table;
    content: '';
    line-height: 0;
  }
  &:after, &::after {
    clear: both;
  }
}
@mixin admTrans {
  transition: all 0.3s ease-in-out;
}
